﻿@using Ogani.Admin.Models
@model CategoryCreateViewModel

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow-sm rounded-3">
            <div class="card-body">
                <h4 class="card-title">Add Category</h4>
                <form asp-action="create" method="post" enctype="multipart/form-data" class="forms-sample">

                    <div class="form-group mb-3">
                        <label asp-for="Name">Category Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter category name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="ImageFile">Category Image</label>
                        <input type="file" name="ImageFile" class="form-control" accept="image/*" />
                        <small class="form-text text-muted">Upload an image for the category</small>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2"><i class="mdi mdi-check"></i>Submit</button>
                    <a asp-controller="category" asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

